<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Open Sans", sans-serif
  }

  .players,
  .players1 {
    width: 100%;
    height: 30vw;
    padding-left: 5px;
    padding-right: 5px;
  }
  .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #888;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: none;
  width: 80%; /* Could be more or less, depending on screen size */
}

  #Right {
    position: fixed;
    right: 0%;
  }

  #Drop {
    position: fixed;
    bottom: 10%;
    width: 24%;
    height: 25%;
  }


  @media screen and (max-width:500px) {
    #Right {
      position: static;
    }

  

    .players {
      width: 100%;
      height: 50vw;
      padding-left: 0px;
      padding-right: 0px;
    }

    #Drop {
      position: fixed;
      bottom: 0%;
      width: 100%;
      height: 10%;
    }

    footer {
      margin-bottom: 15%;
    }
  }
</style>

<body class="w3-theme-l5">

  <!-- Navbar -->
  <div  class="w3-top">
    <div  style="background-color: black; border: 2px solid rgba(255, 255, 255, 0);border-radius:0px  0px 12px 12px;" class="w3-bar w3-theme-d2 w3-left-align w3-large ">
      <a  class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
        href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
      <a href="#" style="width: 150px;height: 100px;" class="w3-bar-item  ">
        <img style="height: 100%;width: 100%;border: 5px solid rgb(243, 240, 240);border-radius: 12px;" src="../public/WhatsApp Image 2022-03-27 at 11.24.44 PM.png" alt="LOGO">
      </a>
      <a id="News" style=" border: 2px solid rgba(255, 255, 255, 0);border-radius: 12px;" onclick="m12()" href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
        title="News"><img style="width: 30px; height: 30px;"
          src="../public/b12edff1ee78b2e794feac4d4dcbfbd41be16d6b7f25dc5dc2e3935de4ced3a7_128x128.png" alt="">
        <h5 style="float: right;">EARN WITH VIEWS</h5>
      </a>
      <a id="Account" style=" border: 2px solid rgba(255, 255, 255, 0);border-radius: 12px;" onclick="m11()" href="#"
        class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"><img
          style="width: 30px; height: 30px;" src="../public/pngtree-vector-view-icon-png-image_4143925.jpg" alt="">
        <h5 style="float: right;">EARN WITH TIME</h5>
      </a>
      <a id="Account" style=" border: 2px solid rgba(255, 255, 255, 0);border-radius: 12px;" onclick="m13()" href="#"
        class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"><img
          style="width: 30px; height: 30px;" src="../public/downloadbell.png" alt="">
        <h5 style="float: right;">WITH SHARING and SUBSCRIMBING</h5>
      </a>


      <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white"
        title="My Account">
        <img src="<%=userClient.Profilephoto%>" class="w3-circle" style="height:23px;width:23px" alt="Avatar">
      </a>
      <div class="w3-ul" style="height: 50px; width:150px; background-color: white; position: absolute; top: 50px; right: 5px;">
       <li class="w3-hover-black"><a href="#">logOut</a></li>
       <li class="w3-hover-black"><a href="#">withdraw your earnings</a></li>
      </div>
    </div>
  </div>


  <!-- Navbar on small screens -->
  <div style="position: fixed; top: 0%;width: 100%;" id="navDemo"
    class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
    <br>
    <br>
    <br>
    <a href="#" style=" border: 2px solid rgba(255, 255, 255, 0);border-radius: 12px;" onclick="m12()" class="w3-bar-item w3-button w3-padding-large">
      <center><img style="width: 30px; height: 30px;"
          src="../public/b12edff1ee78b2e794feac4d4dcbfbd41be16d6b7f25dc5dc2e3935de4ced3a7_128x128.png" alt=""></center>
    </a>
    <a href="#" style=" border: 2px solid rgba(255, 255, 255, 0);border-radius: 12px;" onclick="m11()" class="w3-bar-item w3-button w3-padding-large">
      <center><img style="width: 30px; height: 30px;" src="../public/pngtree-vector-view-icon-png-image_4143925.jpg"
          alt=""></center>
    </a>
    <a href="#" style=" border: 2px solid rgba(255, 255, 255, 0);border-radius: 12px;" onclick="m13()" class="w3-bar-item w3-button w3-padding-large">
      <center><img style="width: 30px; height: 30px;" src="../public/downloadbell.png" alt=""></center>
    </a>

  </div>

  <!-- Page Container -->
  <div class="w3-container w3-content" style="max-width:1400px;margin-top:150px">
    <!-- The Grid -->
    <div class="w3-row">
      <!-- Left Column -->
      <div class="w3-col m3">
        <!-- Profile -->
        <div  class="w3-card w3-round w3-white">
          <div class="w3-container">
            <h4 class="w3-center">My Profile</h4>
            <p class="w3-center"><img src="<%=userClient.Profilephoto%>" class="w3-circle"
                style="height:106px;width:106px" alt="Avatar"></p>
            <hr>
            <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>
              <%=userClient.userName%>
            </p>
            <p><img style="width: 25px; height: 25px;" src="../public/download.png">
              <%=userClient.points%>
            </p>
            <p><i class="fa fa-money fa-fw w3-margin-right w3-text-theme"></i>
              <%=userClient.moneytobePaid%>
            </p>
          </div>
        </div>
        <br>
        <div class="w3-container">
          <div
            class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
            <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
              <i class="fa fa-remove"></i>
            </span>
            <p><strong>Hey!</strong></p>
            <p>People are looking at your profile. Find out who.</p>
          </div>


        </div>
        

        <!-- Accordion -->


        <!-- Interests -->


        <!-- Alert Box -->

        <!-- End Left Column -->
      </div>

      <!-- Middle Column -->
      <div class="w3-col m7">


        <div>
          <%if (views.length>0 && watchtime.length>0 && subscribe.length>0){%>


            <div>
              <div style="display: none;" id="destroyer">
                <% if (views) {
                   
                  %>  
                <div id="points1011">
                  <div class="players" id="player1"></div>
                  <form id="form" method="post" action="/update/<%=userClient.id%>">
                    <center>
                      <div
                        style=" width: 30%; background-color : black; color: aliceblue; margin-left: 5px; text-align: center;">
                        <h4 id="points1011">seconds</h4>
                        <textarea style="display: none;" name="videoId"><%=views[0].id%>  </textarea>


                        <h6 id="points1" name="points"></h6>


                      </div>
                    </center>
                    <button style="margin-right: 10%;"
                      class="w3-button w3-light-grey w3-border w3-border-black w3-round-large"><img
                        style="height: 25px; width: 25px;" src="../public/2021_Facebook_icon.jpg" alt=""></button>
                    <button style="margin-right: 10%;"
                      class="w3-button w3-light-grey w3-border w3-border-black w3-round-large"><img
                        style="height: 25px; width: 25px;" src="../public/telegram-logo-circle-1024x1024.png"
                        alt=""></button>
                    <button style="margin-right: 10%;"
                      class="w3-button w3-light-grey w3-border w3-border-black w3-round-large"><img
                        style="height: 25px; width: 25px;"
                        src="../public/valencia-spain-march-05-2017-260nw-593508881.webp" alt=""></button>
                    <button style="margin-right: 10%;"
                      class="w3-button w3-light-grey w3-border w3-border-black w3-round-large"><img
                        style="height: 25px; width: 25px;" src="../public/instagram-icon.jpg" alt=""></button>
                    <button style="margin-right: 10%;"
                      class="w3-button w3-light-grey w3-border w3-border-black w3-round-large"><img
                        style="height: 25px; width: 25px;" src="../public/Twitter-Logo.png" alt=""></button>


                  </form>
                </div>
                <%}%>
                <br>
                <br>
                <br>
                </div>
              <div style="display: block;" id="destroyer1">
                <% if (watchtime){ 
                  
                  %>
                <div id="points1001">

                  <div class="players" id="player2"></div>
                  <form id="form1" method="post" action="/updateWatchtime/<%=userClient.id%>">
                    <center>
                      <div
                        style=" width: 30%; background-color : black; color: aliceblue; margin-left: 5px; text-align: center;">
                        <h4>seconds</h4>
                        <textarea style="display: none;" name="videoId"><%=watchtime[0].id%>  </textarea>

                        <h6 id="point1" name="points"></h6>

                      </div>
                    </center> 
                    <a href="https://t.me/share/url?url=<%=watchtime[0].id%>">
                  <button style="margin-right: 10%;"
                    class="w3-button w3-light-grey w3-border w3-border-black w3-round-large"><img
                      style="height: 25px; width: 25px;" src="../public/telegram-logo-circle-1024x1024.png"
                      alt=""></button></a>
                  <a href="https://wa.me/?text=<%=watchtime[0].id%>"><button style="margin-right: 10%;"
                    class="w3-button w3-light-grey w3-border w3-border-black w3-round-large"><img
                      style="height: 25px; width: 25px;"
                      src="../public/valencia-spain-march-05-2017-260nw-593508881.webp" alt=""></button></a>
                   
                      <a href="https://twitter.com/intent/tweet?text=<%=watchtime[0].id%>"
                      data-size="large">
                  <button style="margin-right: 10%;"
                    class="w3-button w3-light-grey w3-border w3-border-black w3-round-large"><img
                      style="height: 25px; width: 25px;" src="../public/Twitter-Logo.png" alt=""></button></a>


                </form>
              </div>
            
              <%}%>
              <br>
              <br>
              <br>
              <br>

              </div>
              <div style="display:none ;" id="destroyer3">
                <% subscribe.forEach( (subscribe)=>{%>
                  <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                    <h4>
                      <%=subscribe.ChannelName%>
                    </h4><br>
                    <hr class="w3-clear">
                    <p>
                      <%=subscribe.Discription%>
                    </p>
                    <br>
                    <a href="<%=subscribe.ChannelUrl%>?sub_confirmation=1"><button onclick=""
                        class="w3-button w3-black"><b>subscribe</b></button></a>
                        <button style="margin-right: 2%;margin-left: 2%;"
                        class="w3-button w3-light-grey w3-border w3-border-black w3-round-large"><img
                          style="height: 25px; width: 25px;" src="../public/2021_Facebook_icon.jpg" alt=""></button>
                      <button style="margin-right: 2%;margin-left: 2%;"
                        class="w3-button w3-light-grey w3-border w3-border-black w3-round-large"><img
                          style="height: 25px; width: 25px;" src="../public/telegram-logo-circle-1024x1024.png"
                          alt=""></button>
                      <button style="margin-right: 2%;margin-left: 2%;"
                        class="w3-button w3-light-grey w3-border w3-border-black w3-round-large"><img
                          style="height: 25px; width: 25px;"
                          src="../public/valencia-spain-march-05-2017-260nw-593508881.webp" alt=""></button>
                      <button style="margin-right: 2%;margin-left: 2%;"
                        class="w3-button w3-light-grey w3-border w3-border-black w3-round-large"><img
                          style="height: 25px; width: 25px;" src="../public/instagram-icon.jpg" alt=""></button>
                      <button style="margin-right: 2%;"
                        class="w3-button w3-light-grey w3-border w3-border-black w3-round-large"><img
                          style="height: 25px; width: 25px;" src="../public/Twitter-Logo.png" alt=""></button>
  
                    <br>
                    <br>
                  </div>

                  <%})%>
              </div>

              <script>
                // 2. This code loads the IFrame Player API code asynchronously.
                var tag = document.createElement('script');

                tag.src = "https://www.youtube.com/iframe_api";
                var firstScriptTag = document.getElementsByTagName('script')[0];
                firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                // 3. This function creates an <iframe> (and YouTube player)
                //    after the API code downloads.


                let player1;
                let player16;
               let vid=Math.floor(Math.random() * 10);
                //var Vid=Math.floor(Math.random() * 16);
                function onYouTubeIframeAPIReady() {
                  player1 = new YT.Player('player1', {
                    height: '100%',
                    width: '100%',
                    playerVars: {'controls': 0 },
                    videoId: '<%=views[Math.floor(Math.random() * 15)].videoId%>',

                    events: {
                      'onReady': onPlayerReady,
                      'onStateChange': onPlayerStateChange
                    }
                  });
                  player16 = new YT.Player('player2', {
                    height: '100%',
                    width: '100%',
                    videoId: '<%=watchtime[Math.floor(Math.random() * 15)].videoId%>',
                    playerVars: {'controls': 0 },
                    events: {
                      'onReady': onPlayerReady,
                      'onStateChange': onPlayerStateChange
                    }
                  });
                
                }

                // 4. The API will call this function when the video player is ready.
                function onPlayerReady(event) {
                  event.target.stopVideo();

                }

                // 5. The API calls this function when the player's state changes.
                //    The function indicates that when playing a video (state=1),
                //    the player should play for six seconds and then stop.
                var done = false;
                function onPlayerStateChange(event) {
                  if (event.data == YT.PlayerState.PLAYING && !done) {
                    setInterval(() => {
                      let points1 = player1.getCurrentTime()
                      let realPoints1 = Math.round(points1) - 60

                      document.getElementById('points1').innerHTML = realPoints1;
                      let newp;
                      if (realPoints1 > 0) {


                        player1.stopVideo();
                        document.getElementById('form').submit();
                        document.getElementById('<%=views[0].id%>').style.display = 'none';
                        document.getElementById('points2022').style.display = 'none';

                      }
                     
                      let point1 = player16.getCurrentTime()
                      let realPoint1 = Math.round(point1) - 60
                      document.getElementById('point1').innerHTML = realPoints1;
                    
                      if (realPoint1 > 0) {

                        player16.stopVideo();
                        document.getElementById('form1').submit();
                        document.getElementById('<%=views[0].id%>').style.display = 'none';
                        document.getElementById('points1001').style.display = 'none'
                        document.getElementById('points101').style.display = 'block'


                      }
                      


                    }, 200);
                    done = true;
                  }
                }
                function stopVideo() {
                  player.stopVideo();
                }

                function m12() {

                  document.getElementById('destroyer').style.display = 'block';
                  document.getElementById('destroyer1').style.display = 'none';
                  document.getElementById('destroyer3').style.display = 'none';
                }

                function m11() {
                  document.getElementById('destroyer1').style.display = 'block';
                  document.getElementById('destroyer').style.display = 'none';
                  document.getElementById('destroyer3').style.display = 'none';


                }
                function m13() {
                  document.getElementById('destroyer1').style.display = 'none';
                  document.getElementById('destroyer').style.display = 'none';
                  document.getElementById('destroyer3').style.display = 'block';


                }

              </script>


              <% } %>

            </div>

        </div>
      </div>


      <!-- Right Column -->
      <div style="display: block;" id="Right" class="w3-col m2">
        <div class="w3-card w3-round w3-white w3-center">

        </div>
        <br>



        <div style="height: 25vw;" class="w3-card w3-round w3-white w3-padding-16 w3-center">
          <p>ADS</p>
        </div>
        <br>


        <!-- End Right Column -->
      </div>

      <!-- End Grid -->
    </div>

    <!-- End Page Container -->
  </div>
  <br>
  <div style="color: white; background-color: rgba(0, 0, 0, 0.753);" id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
        <form class="modal-content" action="/buyerLogin1" method="post">
          <div class="container2">
            <center><h1>Sign Up</h1></center>
            <p>Please fill in this form to create an account.</p>
            <hr>
           
            <label for="psw-repeat"><b>Phone Number</b></label>
            <input type="text" placeholder="+2507...." name="phone" required>

          
            <label for="psw-repeat"><b>OTP CODE</b></label>
            <input type="text" name="OTPCODE" placeholder="OTP CODE"  required>

           
      
            <div class="clearfix">
              <button style="height: 50px ;border: none;"  type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
              <button style="height: 50px ;" type="submit" class="signupbtn">Sign Up</button>
            </div>
          </div>
        </form>
      </div>

  <!-- Footer -->
  <footer style="height: 10vw;border: 2px solid rgba(255, 255, 255, 0);border-radius:12px 12px 0px  0px ;" class="w3-container w3-theme-d3 w3-padding-16">
    <h5>Footer</h5>
  </footer>

  <footer class="w3-container w3-theme-d5">

  </footer>

  <script>
    
     function triFunction() {
        document.getElementById("id01").style.display='block';
      }
      const alert=setTimeout(triFunction, 30000);


    function myFunction(id) {
      var x = document.getElementById(id);
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-theme-d1";
      } else {
        x.className = x.className.replace("w3-show", "");
        x.previousElementSibling.className =
          x.previousElementSibling.className.replace(" w3-theme-d1", "");
      }
    }

    // Used to toggle the menu on smaller screens when clicking on the menu button
    function openNav() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else {
        x.className = x.className.replace(" w3-show", "");
      }
    }
  </script>

</body>

</html>